img{
    display: block;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: "Roboto", sans-serif;
}

main {
    flex-grow: 0;
}

.header-class {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1158px;
    
}
.header-container {
    align-items: center;
    justify-content: space-between;
    align-content: stretch;
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding: 0 15px;
    display: flex;
}
ul {
    margin: 0;
    padding: 0;
}
.nav-menu {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 76px;
}

.logo,
.logo-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
}

.address-class {
    font-style: normal;
    display: flex;
    gap: 40px;
}

.logo-span {
    color: #2e2f42;
    text-decoration: none;
}

.logo-span-footer {
    color: rgba(244, 244, 253, 1);
    text-decoration: none;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 0;
    padding-left: 0;
}

.nav-list li a {
    text-decoration: none;
    color: rgba(67, 68, 85, 1);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}
.nav-button,
.contacts-button {
    color: #2e2f42;
    
}

.nav-button:hover,
.nav-button:focus {
    color: #404bbf;
}

.contact-link {
    display: flex;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contact-link:hover,
.contact-link:focus,
.contacts-button:hover,
.contacts-button:focus {
    color: #404bbf;
}

.contact-list {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding-left: 0;
}

.contact-list li a {
    text-decoration: none;
    color: rgba(67, 68, 85, 1);
    font-weight: 400;
}

.main-page {
    background-color: #2e2f42;
    text-align: center;
    padding: 188px 0;
}

.main-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    background-color: #2e2f42;
    margin-right: auto;
    margin-left: auto;
    max-width: 496px;
}

.main-button {
    background-color: #4D5AE5;
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    height: 56px;
    min-width: 169px;
    font-weight: 500;
    display: block;
    border-radius: 4px;
    border: none;
margin-right: auto;
margin-left: auto;
}
.block-service {
    padding-top: 120px;
    padding-bottom: 120px;
}
.list-strategy {
    list-style: none;
    display: flex;
    gap: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.title-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.li-list-strategy {
    margin: 0;
    padding-left: 0;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.title-strategy {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.text-strategy {
    letter-spacing: 0.02em;
    line-height: 1.5;
}


.block-service p {
    font-size: 16px;
    color: rgba(67, 68, 85, 1);
    padding-bottom: 120px;
}

.block-team {
    background-color: #F4F4FD;
    padding-bottom: 120px;
    padding-top: 120px;
}

.block-team-title {
    margin-bottom: 72px;
}

.block-team-title,
.title-portfolio {
    color: rgba(46, 47, 66, 1);
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.11;
}

.list {
    justify-content: center;
    list-style: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 24px;
    margin: 0;
    padding-left: 0;
    
}

.foto-block {
    background-color: WHITE;
    width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
}
    

.team-title,
.team-role {
    flex-direction: column;
}

.team-title {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.name-container {
    padding: 32px 0;
}

.team-role {
    line-height: 1.5;
    font-size: 16px;
    color: rgba(67, 68, 85, 1);
    background-color: #FFFFFF;
    padding-bottom: 32px;
    text-align: center;
}

.title-portfolio {
    color: rgba(46, 47, 66, 1);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
}
.block-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.description-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container-option {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.title-portfolio-litle {
    margin-bottom: 8px;
}

.portfolio-list {
    justify-content: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.footer-block {
    background-color: #2e2f42;
    align-content: flex-start;
    padding: 100px 0 100px
}

.text-footer {
    font-size: 16px;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

.portfolio-list h3 {
    font-size: 18px;
    color: rgba(46, 47, 66, 1);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

footer a {
    display: inline-block;
    margin-bottom: 16px;
}